body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: $text-color;
  background-color: $main-white-color;
  font-size: 14px;
}

.container {
  min-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-title {
  color: $main-text-color;
}
